<p>
    Dear Requester:
</p>
<p>
    This letter is in response to your request, dated and
    received in this office on {{ date-today }}, for copies of any
    investigation(s) that directly pertain to the conduct,
    disclosures, and/or transactions of the registrant. Specifically, you
    listed {{ error }} records for which you were interested, as
    well as information regarding confidential treatment requests.
    Based on the information you provided in your letter, we
    conducted a thorough search of the the agencies various systems of
    records, but did not locate or identify any information
    responsive to your request.
</p>
<p>
    If you still have reason to believe that the agency maintains
    the type of information you seek, please provide us with
    additional information, which could prompt another search.
    Otherwise, we conclude that no responsive information exists and
    we consider this request to be closed.
</p>
<p>
    You have the right to appeal the adequacy of our search or
    finding of no responsive information to the Agency’s General Counsel
    under 5 U.S.C. § 552(a)(6), 17 CFR § 200.80(d)(5)(iv). The appeal
    must be received within ninety (90) calendar days of the date of
    this adverse decision. Your appeal must be in writing, clearly
    marked "Freedom of Information Act Appeal," and should identify
    the requested records. The appeal may include facts and
    authorities you consider appropriate.
</p>
<p>
    Sincerely,
</p>
<p>
    Lindsay Young
</p>
<p>
    Buerocrat and FOIA madlibs creator
</p>
